.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-3 {
    width: 600px;
}

#info-image {
    width: 500px;
}

html {
    background: url("/images/communal-eating-shutterstock.jpg") no-repeat center center fixed;
    background-size: cover;
}

#version-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.nav-btns {
    align-items: right;
    padding: 7px 50px;
    margin: 5px 25px;
}

.btn {
    margin-top: 10px;
}